 body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-family: 'Ubuntu',Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 2px;  
    color: #e7344f;
    background-color: #93cddf;
}
.nucolor{
   background-color:#24262a;
   height: 200%;
}
.navbar{
    width: 100%;
    margin-top : 15px;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding: 0px;
    color: brown;
    
}

  .jumbotron {
    height:200%;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
        background: url('backgroundimage.jpg') no-repeat center center fixed;
        padding-top: 20%;
        padding-bottom: 20%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      
  }
.middlecon {
    background-color: rgb(248, 244, 244);
}

.about {
   width: 80%;
   margin: 6rem auto;
   border: 1rem grey;
   border-style: inset;
   min-height: 30rem;
   text-align: center;
   border-radius: 3rem;
   margin-top: 20px;
}
.about h2 {
   font-size: 2.5rem;
   padding: 0;
   border-bottom: 0.2rem solid #24262a;
   display: inline-block;
   margin-bottom: 2.5rem;
}

/* nplaying style */
#nplaying p {
    border-bottom: 0.2rem solid #24262a inline;
    display: inline-block;
}

/* contact us */
.cont {
    height: 300%;
    color: rgb(75, 73, 73); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
.cont .conta {
    border-bottom: 0.2rem solid #24262a;
    display: inline-block;
}
.cont p {
    border-bottom: 0.2rem solid #24262a inline;
    
}

main {
    width: 100%;
    display: inline-block;
    margin: auto;
}
main #AboutUs{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
main #Services{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
main #ContactUs {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;  
}
footer {
    border-top: 2px solid #1C6EA4;
    background-color: darkkhaki;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}